.player1 {
    position: absolute;
    top: 30%;
    left: 6%;
    color: lightgreen;
}
.Computer {
    position: absolute;
    top: 30%;
    right: 6%;
    color: skyblue;
}
center {
    font-size: 30px;
}
body {
    background: #4d5151;
}
.container {
    height: 500px;
    width: 1100px;
    position: absolute;
    display: none;
    top: 10%;
    left: 10%;
}
#mycanvas {
    position: absolute;
    top: 30%;
    left: 35%;
}
#newcanvas {
    position: absolute;
    top: 30%;
    left: 35%;
}
.scorecard {
    position: absolute;
    top: 30%;
    left: 30%;
    color: white;
    font-size: 20px;
}
select {
    height: 40px;
    width: 40px;
}
input {
    width: 200px;
    height: 30px;
}
.button {
    width: 200px;
    height: 60px;
    border-radius: 30px;
    position: absolute;
    top: 80%;
    left: 30%;
    border: none;
    background: seagreen;
}
#circle1 {
    position: absolute;
    background: #4d5151;
    border: none;
    top: 32%;
    left: 36%;
    height: 80px;
    width: 80px;
}
#head {
    color: seagreen;
}
#circle2 {
    position: absolute;
    background: #4d5151;
    border: none;
    top: 32%;
    left: 45%;
    height: 80px;
    width: 80px;
}
#circle3 {
    position: absolute;
    background: #4d5151;
    border: none;
    top: 32%;
    left: 54%;
    height: 80px;
    width: 80px;
}
#circle4 {
    position: absolute;
    background: #4d5151;
    border: none;
    top: 52%;
    left: 36%;
    height: 80px;
    width: 80px;
}
#circle5 {
    position: absolute;
    background: #4d5151;
    border: none;
    top: 52%;
    left: 45%;
    height: 80px;
    width: 80px;
}
#circle6 {
    position: absolute;
    background: #4d5151;
    border: none;
    top: 52%;
    left: 54%;
    height: 80px;
    width: 80px;
}
#circle7 {
    position: absolute;
    background: #4d5151;
    border: none;
    top: 72%;
    left: 36%;
    height: 80px;
    width: 80px;
}
#circle8 {
    position: absolute;
    background: #4d5151;
    border: none;
    top: 72%;
    left: 45%;
    height: 80px;
    width: 80px;
}
#circle9 {
    position: absolute;
    background: #4d5151;
    border: none;
    top: 72%;
    left: 54%;
    height: 80px;
    width: 80px;
}